{% extends 'base.html' %}

{% block title %}SERVICES{% endblock title %}

{% block body %}
    <div class="container-fluid ">
        <div class="text-center ">
            <h3 class="display-5 p-4">Our services</h3>
            <hr style="margin: auto; width: 10%;">
            <p class="p-4 _paraService" style="font-size: 18px;">We help students with their school/ college/ university level assignments for all subjects. We also provide research paper and thesis writing services along with coding help.</p>
        </div>
        <!-- fisrt row services -->
        <div class="container mb-2">
            <div class="row p-5">
                <div class="col-sm-4">
                    <div class="card p-3 _cardService text-center">
                        <div class="card-body ">
                            <span style="font-size: 30px;"><i class="fa fa-thumbs-up"></i></span>
                          <h5 class="card-title fw400">Essay/Assignment</h5>
                          <p class="card-text text-justify lead">An essay is, generally, a piece of writing that gives the author’s own argument — but the definition is vague, overlapping with those of an article, a pamphlet, and a short story.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card p-3 _cardService text-center">
                        <div class="card-body">
                            <span style="font-size: 30px;"><i class="fa fa-thumbs-up"></i></span>
                          <h5 class="card-title fw400">Dissertation/Projects</h5>
                          <p class="card-text text-justify lead">A dissertation is just an important sounding name for a long essay – based on your own research. Writing a dissertation is an exciting, challenging, rewarding and often wonderful experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card p-3 _cardService text-center">
                        <div class="card-body">
                            <span style="font-size: 30px;"><i class="fa fa-thumbs-up"></i></span>
                          <h5 class="card-title fw400">SPSS Analysis</h5>
                          <p class="card-text text-justify lead">Writing a thesis becomes a complex task when the data analysis part comes in question due to their struggle at gaining an understanding of different research tools and techniques.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second row services starts  -->
        <div class="container mb-5">
            <div class="row p-4">
                <div class="col-sm-4">
                    <div class="card p-3 _cardService text-center">
                        <div class="card-body ">
                            <span style="font-size: 30px;"><i class="fa fa-thumbs-up"></i></span>
                          <h5 class="card-title fw400">Thesis / Reports</h5>
                          <p class="card-text text-justify lead">Developing a thesis is usually the first step towards preceding your research.A report is a structured written presentation directed to interested readers in response to some specific purpose, aim or request.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card p-3 _cardService text-center">
                        <div class="card-body">
                            <span style="font-size: 30px;"><i class="fa fa-thumbs-up"></i></span>
                          <h5 class="card-title fw400">Proofreading</h5>
                          <p class="card-text text-justify lead">Our team of experts are specialized in editing and proof reading your work. proofreading service includes: Correcting grammar, spelling, and punctuation, Improving word choice, Ensuring consistency.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card p-3 _cardService text-center">
                        <div class="card-body">
                            <span style="font-size: 30px;"><i class="fa fa-thumbs-up"></i></span>
                          <h5 class="card-title fw400">Presentation</h5>
                          <p class="card-text text-justify lead">A presentation is the process of presenting a topic to an audience. It is typically a demonstration, introduction, lecture, or speech meant to inform, persuade, or build good will.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}